<div id="headerwrap">
  <div class="container">
      <div class="row">
        <div>
            <h1><img src="/assets/img/logo.png" class="logo" /> CENTRAL TEXAS GIS</h1>
            <h3>A GEOGRAPHIC INFORMATION SYSTEMS USER GROUP SERVING CENTRAL TEXAS</h3>		
        </div>
      </div><!-- /row -->
      <div class="jumbotron">
			  <p>CenTexGIS strives to provide the Central Texas GIS community with a forum for networking and growth. Our goal is to strengthen community bonds by bringing together public and private sector GIS professionals for knowledge sharing and support. Membership is free! </p>
				 <p><a class="btn btn-default" href="/contact/" role="button">Join Now</a></p>
			</div><!--jumotron-->
  </div> <!-- /container -->
	<div id="carousel-example"class="carousel slide" data-ride="carousel">
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-example" data-slide-to="1"></li>
	    <li data-target="#carousel-example" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
	    <div class="item active">
	      <a href="#"><img src="/assets/img/IMG_0216.jpg"/></a>
	      <div class="carousel-caption">
	      	<p>CenTexGIS strives to provide the Central Texas GIS community with a forum for networking and growth. Our goal is to strengthen community bonds by bringing together public and private sector GIS professionals for knowledge sharing and support. Membership is free! </br></br>
	      		<a class="btn btn-default" href="/contact/" role="button">Join Now</a>
	      	</p>
	      </div>
	    </div>
	    <div class="item">
	      <a href="#"><img src="/assets/img/IMG_0224.jpg" /></a>
	      <div class="carousel-caption">
	      	<p>CenTexGIS strives to provide the Central Texas GIS community with a forum for networking and growth. Our goal is to strengthen community bonds by bringing together public and private sector GIS professionals for knowledge sharing and support. Membership is free! </br></br>
	      		<a class="btn btn-default" href="/contact/" role="button">Join Now</a>
	      	</p>
	      </div>
	    </div>
	    <div class="item">
	      <a href="#"><img src="/assets/img/IMG_0230.jpg" /></a>
	      <div class="carousel-caption">
	      	<p>CenTexGIS strives to provide the Central Texas GIS community with a forum for networking and growth. Our goal is to strengthen community bonds by bringing together public and private sector GIS professionals for knowledge sharing and support. Membership is free! </br></br>
	      		<a class="btn btn-default" href="/contact/" role="button">Join Now</a>
	      	</p>
	      </div>
	    </div>
	  </div>

	  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div><!-- carousel -->
</div><!-- /headerwrap -->


